h1
{
  text-align: center;
  width: 100%;
}

.largeFont{
    font-size: xx-large ;
}

.v-data-table__mobile-row__header, .v-data-table__mobile-row__cell {
    font-size: xx-small ;

}

.v-data-table > .v-data-table__wrapper .v-data-table__mobile-row
{
    min-height: 15px;
}

img {
    object-fit: scale-down;
    width: 100%;

}

.project-large {
    cursor: pointer;
    border: 1px solid #666666;
    margin-bottom: 2%;  
    width: 55%;
  }