.xsFont{
    font-size: medium;
}

.theme--dark.v-label {
    font-size: xx-small;
}

.xsFont .v-data-table__wrapper table tbody .v-data-table__mobile-table-row .v-data-table__mobile-row {
    min-height: 18px;

}

.v-cardPad{
    padding:0%;
  }

  .v-card__title{
  padding:0%;
}

